<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Bill Gates</title>
    <link rel="icon" href="static/img/favi.png" />

    <link href="{{ url_for('static', filename='style.css') }}"  rel="stylesheet" type="text/css" />

  </head>

  <body style="background-color:#2C2F33;">

    <h1 class="titre-page"> Bill Gates </h1>

    <div class="infos">
      <img src="static/img/Bill Gates.png">
      <h1 class="text-0001"> Bill Gates </h1>
      <p class="pcen"> Biographie </p>
      <p class="Pleft"> Naissance: </p>
      <p class="PSleft"> 28 Octobre 1955 (65 ans) Seattle (État de Washington, États-Unis)</p>
      <p class="Pleft"> Nom de naissance: </p>
      <p class="PSleft">William Henry Gates III</p>
      <p class="Pleft"> Pseudonyme: </p>
      <p class="PSleft">Bill Gate</p>
      <p class="Pleft"> Nationalité: </p>
      <p class="PSleft">Américain</p>
      <p class="Pleft"> Domicile: </p>
      <p class="PSleft">Maison de Bill et Melinda Gates</p>
    </div>

    <div class="bouton">
      <p class="pcen2"> à savoir sur bill gates: </p>
      <p>William Henry Gates III, dit Bill Gates, né le 28 octobre 1955 à Seattle (État de Washington), est un informaticien, entrepreneur et milliardaire américain.<br>
      Il est connu comme le fondateur de Microsoft en 1975 et son principal actionnaire.<br>

      Grâce au succès commercial de Microsoft il est l’un des hommes les plus riches du monde depuis 1996.<br>
      en 2019, le magazine Forbes classe Bill Gates 2e fortune avec 105 milliards de dollars.</p>
      <p>Depuis octobre 2007, Bill Gates se consacre à sa fondation Bill-et-Melinda-Gates.</p>
      <p class="pcen2">A propos de microsoft:</p>
      <p>Bill Gates co-réalise avec Allen un interpréteur BASIC pour l'Altair 8800.<br>
      Cette réalisation est à la fois un tour de force et un coup de chance : le développement se fait entièrement sur PDP-10 et l'Altair BASIC n'est essayé sur un véritable Altair 8800 que le jour de la démonstration, laquelle réussit parfaitement.<br>
      L'Altair BASIC marque une étape dans l'histoire de la micro-informatique : ce sera le premier langage de programmation à avoir fonctionné sur un micro-ordinateur commercial.<br>
      Ce sera également le premier logiciel édité par la société Microcomputer Software, fondée pour l'occasion, en 1975, alors que Bill Gates est âgé de 20 ans, et dont la contraction Micro-Soft puis Microsoft est aujourd'hui plus familière.<br>
      Le 31 janvier 1976, Bill Gates écrit une lettre intitulée « An Open Letter to Hobbyists » (« Lettre ouverte aux bricoleurs »), dans laquelle il condamne pour la première fois le partage illégal de l'un de ses logiciels, le BASIC d'Altair : « We have written 6800 BASIC, and are writing 8080 APL and 6800 APL, but there is very little incentive to make this software available to hobbyists. Most directly, the thing you do is theft. » (« nous avons écrit le 6800 BASIC et nous écrivons les 8080 et 6800 APL, mais nous n'avons pas envie de fournir ce logiciel aux amateurs.<br>
      Pour être clair, ce que vous faites, c'est du vol »).</p>
      <a class="gl" href="form.html">Lien vers le formulaire</a>
      <a class="gl" href="https://fr.wikipedia.org/wiki/Bill_Gates">Wikipedia sur BillGates</a>
    </div>  

  </body>
</html>